import pandas as pd

readfile
- df = pd.read_csv(r'E:\Gaurav\Gaurav\EDA\sales_data_final.csv')    #

- df.head()

- df.tail()

- df.dtypes      

- df.columns

- df [['c1','c2']]    ---> get as dataframe

- df ['c1']                ---> fetch as a series ( list )

- df.describe()  --->  satistical analysis

gives only for numerical based columns

---> data type is object
-  df [df.dtypes [df.dtypes == 'object'].index].describe()

- df [ 'column-name' ].isnull()

changing into timestamp format

- date = pd.to_datetime(df['coulmn_name'])

- df [ 'column_name' ].dt.year     

- df [ 'column_name' ].dt.month

- df [ 'column_name' ].dt.week

- df [ 'column_name' ].dt.weekofyear           # no.of week left

for deleting column

- df.drop('column_name',axis=1,inplace=True)

axis = 0  means row search

axis = 1  means column search

drop column or row based on null values

- df.dropna()

- df.dropna(tresh = 3)
minimum  3 values (NAN) in row, so 1/2 (NAN values)will drop that row only

- df.fillna( value=4 )
replace NAN by 4

sorting row wise record

- df.loc[[2,3], ['c1,c2,c3]]   --> matrix

- df.loc[2:10:2]

loc --> row location   ( taking named index )

iloc ---> row and column location (matrix) (takes default indexs)

- df.iloc[0:4 , 0:3]

adding both the dataframe

- pd.concat([df,df1])  ---> row wise

- pd.concat[df,df1], axis =1)  ---> column wise

**Merge operation**

taking common data/ column_name  [inner join]
- pd.merge[df1,df2]

left join
- pd.merge(df1,df2,   how ='left')

right join
- pd.merge(df1,df2,   how ='right')

different column names
- pd.merge(df6,df7 , left_on='col1' , right_on='col2',how = 'inner')

**Join Operation**

based on row index
- df1.join(df)

df_sales['square_quantity'] = df_sales['quantity'].apply(lambda a : a**2)

- square_quantity--> new column
- quantity --> old column
- apply ( function)

**Numpy**

import numpy as np

- np.array([1,2,3,4], [2,3,4,5])

all data type will be return in string

Dimension of array
- arr.ndim     (2D, 3D)
- a.size   ( no of element in array)

Shape of matrix
- a.shape

Reshape matrix
- a.reshape(row,col)

creating matrix
- np.random.randint(1,10,(4,4))
- -generating random integer
- integers 1 to 10  & 4*4 matrix

np.random.randint(1,10,(4,4,2))
- 4 matrix of size 4*2

Random Function

- np.random.rand(4,4)    (random data)    

- np.random.randint()

- np.random.randn(4,4)
--generating Standard Deviation data with 4*4 matrix

Formula

- *matrix multiple*    =    a2 * a3
- *add* = a2 + 100 (all elements will add)
- *divide* = a / 0   ( this will not give error) (result= inf)
- *All zero* = np.zeros(2,2)
- *all one* = np.ones(2,2)
- *for columns use transpose* = np.arr[1,2].T    ( minimum 2D array requires)
- *square root *= np.sqrt(a)
- *expo* = np.exp(a)
- *array range*= a.arange(0,10,2.5)  (accepts float number too which list not accept)
- np.linspace(2,3, num =50)  (generates 50 numbers btw 2 & 3)
- np.logspace(2,3, num= 4, base = 10)
- *identity matrix *= np.eye(5)