<a href="https://colab.research.google.com/github/GauravSahu13/iNeuron-Full-Stack-Data-Science-/blob/classWork/Pattern.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# pattern questions
"""step 1 : for outer loop , count the no. of lines
step 2 : for inner loop , focus on the colums & connect them somehow to rows
step 3 : print them "*" inside inner for loop
step 4: observe symmetry (optional)"""

In [4]:
n = int(input("enter no. of rows "))
for i in range(n):
  for j in range(n):
    print("*",end = " ")
  print("\n")

enter no. of rows 4
* * * *

* * * *

* * * *

* * * *

In [7]:
n = int(input("enter no. of rows "))
for i in range(n):
  for j in range(0 , i+1):
    print("*",end = " ")
  print("\n")

enter no. of rows 4
*

* *

* * *

* * * *

In [23]:
n = int(input("enter no. of rows "))
for i in range(n):
  for j in range(1 , i+2):
    print(j,end = " ")
  print("\n")

enter no. of rows 4
1

1 2

1 2 3

1 2 3 4

In [30]:
n = int(input("enter no. of rows "))
for i in range(1,n+1):
  for j in range(0 , i):
    print(i,end = " ")
  print("\n")

enter no. of rows 4
1

2 2

3 3 3

4 4 4 4

In [32]:
n = int(input("enter no. of rows "))
for i in range(n):
  for j in range(1 , n-i+1):
    print("*",end = " ")
  print("\n")

enter no. of rows 4
* * * *

* * *

* *

*

In [33]:
n = int(input("enter no. of rows "))
for i in range(n):
  for j in range(1 , n-i+1):
    print(j,end = " ")
  print("\n")

enter no. of rows 4
1 2 3 4

1 2 3

1 2

1

In [39]:
n = int(input("enter no. of rows "))
for i in range(n):
  for j in range(0 , n-i-1):
    print(" ",end = " ")
  for j in range(0,(2*i)+1):
    print("*",end = " ")
  for j in range(0 , n-i-1):
    print(" ",end = " ")
  print("\n")

enter no. of rows 4
      *

    * * *

  * * * * *

* * * * * * *

In [43]:
n = int(input("enter no. of rows "))
for i in range(n):
  for j in range(0 , i):
    print(" ",end = " ")
  for j in range(0, (2*n)-(2*i+1)):
    print("*",end = " ")
  for j in range(0 , i):
    print(" ",end = " ")
  print("\n")

enter no. of rows 4
* * * * * * *

  * * * * *

    * * *

      *

In [44]:
n = int(input("enter no. of rows "))
for i in range(n):
  for j in range(0 , n-i-1):
    print(" ",end = " ")
  for j in range(0,(2*i)+1):
    print("*",end = " ")
  for j in range(0 , n-i-1):
    print(" ",end = " ")
  print("\n")

for i in range(n):
  for j in range(0 , i):
    print(" ",end = " ")
  for j in range(0, (2*n)-(2*i+1)):
    print("*",end = " ")
  for j in range(0 , i):
    print(" ",end = " ")
  print("\n")

enter no. of rows 4
      *

    * * *

  * * * * *

* * * * * * *

* * * * * * *

  * * * * *

    * * *

      *

In [64]:
n = int(input("enter no. of rows "))
for i in range(0,2*n):
  stars = i
  if i > n:
    stars = 2*n-i
  for j in range(0, stars):
    print("*",end = " ")
  print("\n")

enter no. of rows 4


*

* *

* * *

* * * *

* * *

* *

*

In [7]:
n = int(input("enter no. of rows "))
start = 1
for i in range(0,n):
  if i % 2 == 0:
    start = 1
  else:
    start = 0
  for j in range(0,i+1):
    print(start, end =" ")
    start = 1-start
  print("\n")

enter no. of rows 5
1

0 1

1 0 1

0 1 0 1

1 0 1 0 1

In [27]:
n = int(input("enter no. of rows "))
spaces = 2*(n-1)
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j, end =" ")
  for j in range(1,spaces+1):
    print(" ",end = " ")
  for j in range(i,0,-1):
    print(j, end =" ")
  print('\n')
  spaces = spaces -2

enter no. of rows 3
1         1

1 2     2 1

1 2 3 3 2 1

In [28]:
n = int(input("enter no. of rows "))
num = 1
for i in range(1,n+1):
  for j in range(1,i+1):
    print(num, end = " ")
    num = num + 1
  print("\n")

enter no. of rows 5
1

2 3

4 5 6

7 8 9 10

11 12 13 14 15

In [29]:
n = int(input("enter no. of rows "))
for i in range(0,n):
  for ch in range(ord('A'),ord('A')+i+1):
    print(chr(ch), end = " ")
  print("\n")

enter no. of rows 5
A

A B

A B C

A B C D

A B C D E

In [32]:
n = int(input("enter no. of rows "))
for i in range(0,n):
  for ch in range(ord('A'),ord('A')+(n-i)):
    print(chr(ch), end = " ")
  print("\n")

enter no. of rows 5
A B C D E

A B C D

A B C

A B

A

In [36]:
n = int(input("enter no. of rows "))
for i in range(0,n):
  for j in range(0,i+1):
    print(chr(ord('A') + i), end = " ")
  print("\n")

enter no. of rows 5
A

B B

C C C

D D D D

E E E E E

In [37]:
N = int(input("enter no. of rows "))
for i in range(N):
  for j in range(N-i-1):
      print(" ", end="")

  ch = 'A'
  breakpoint = (2*i+1)//2
  for j in range(1, 2*i+2):
      print(ch, end="")
      if j <= breakpoint:
          ch = chr(ord(ch) + 1)
      else:
          ch = chr(ord(ch) - 1)

  for j in range(N-i-1):
      print(" ", end="")

  print("\n")

enter no. of rows 5
    A

   ABA

  ABCBA

 ABCDCBA

ABCDEDCBA

In [39]:
n = int(input("enter no. of rows "))
for i in range(0,n):
  for ch in range(ord('A')+N-1-i, ord('A')+N):
    ch = chr(ch)
    print(ch, end = " ")
  print("\n")

enter no. of rows 5
E

D E

C D E

B C D E

A B C D E

In [46]:
rows = 5
i = 0
while i <= rows - 1:
    j = 0
    while j < i:
        # display space
        print('', end=' ')
        j += 1
    k = i
    while k <= rows - 1:
        print('*', end=' ')
        k += 1
    print()
    i += 1

i = rows - 1
while i >= 0:
    j = 0
    while j < i:
        print('', end=' ')
        j += 1
    k = i
    while k <= rows - 1:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

In [47]:
rows = 14
print("*" * rows, end="\n")
i = (rows // 2) - 1
j = 2
while i != 0:
    while j <= (rows - 2):
        print("*" * i, end="")
        print("_" * j, end="")
        print("*" * i, end="\n")
        i = i - 1
        j = j + 2

**************
******__******
*****____*****
****______****
***________***
**__________**
*____________*

In [56]:
# Java to Python by kalkicode.com
import math
import sys
class Main(object) :
    @staticmethod
    def pattern22( n) :
        i = 0
        while (i < 2 * n - 1) :
            j = 0
            while (j < 2 * n - 1) :
                top = i
                bottom = j
                right = (2 * n - 2) - j
                left = (2 * n - 2) - i
                print(str(n - min(min(top,bottom),min(left,right))) + " ", end ="")
                j += 1
            print()
            i += 1
    @staticmethod
    def main( args) :
        N = 5
        Main.pattern22(N)


if __name__=="__main__":
    Main.main(sys.argv)

5 5 5 5 5 5 5 5 5
5 4 4 4 4 4 4 4 5
5 4 3 3 3 3 3 4 5
5 4 3 2 2 2 3 4 5
5 4 3 2 1 2 3 4 5
5 4 3 2 2 2 3 4 5
5 4 3 3 3 3 3 4 5
5 4 4 4 4 4 4 4 5
5 5 5 5 5 5 5 5 5