<a href="https://colab.research.google.com/github/GauravSahu13/iNeuron-Full-Stack-Data-Science-/blob/classWork/Pattern.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pattern Questions**



*Gaurav Sahu*

step 1: for outer loop, count the no. of lines

step 2: for the inner loop, focus on the columns & connect them somehow to rows

step 3: print them "*" inside the inner for loop

step 4: observe symmetry (optional)

##### **1) Square Pattern**

In [1]:
n = int(input("enter no. of rows "))
for i in range(n):
  for j in range(n):
    print("*",end = " ")
  print("\n")

enter no. of rows 4
* * * *

* * * *

* * * *

* * * *

##### **2) Right Triangle Pattern**

In [ ]:
n = int(input("enter no. of rows "))
for i in range(n):
  for j in range(0 , i+1):
    print("*",end = " ")
  print("\n")

enter no. of rows 4
*

* *

* * *

* * * *

##### **3) Inverted Right Triangle Pattern**

In [6]:
n = int(input("enter no. of rows "))
for i in range(n):
  for j in range(1 , n-i+1):
    print("*",end = " ")
  print("\n")

enter no. of rows 5
* * * * *

* * * *

* * *

* *

*

##### **4) Hollow Square Pattern**

In [4]:
def hollow_square_pattern(n):
    print("*" * n)
    for i in range(n - 2):
        print("*" + " " * (n - 2) + "*")
    print("*" * n)
hollow_square_pattern(5)

*****
*   *
*   *
*   *
*****

##### **5) Pyramid Pattern**

In [5]:
def pyramid_pattern(n):
    for i in range(1, n + 1):
        print(" " * (n - i) + "*" * (2 * i - 1))
pyramid_pattern(5)

    *
   ***
  *****
 *******
*********

##### **6) Inverted Pyramid Pattern**

In [8]:
n = int(input("enter no. of rows "))
for i in range(n):
  for j in range(0 , i):
    print(" ",end = " ")
  for j in range(0, (2*n)-(2*i+1)):
    print("*",end = " ")
  for j in range(0 , i):
    print(" ",end = " ")
  print("\n")

enter no. of rows 5
* * * * * * * * *

  * * * * * * *

    * * * * *

      * * *

        *

##### **7) Hollow Right Triangle Pattern**

In [7]:
def hollow_right_triangle_pattern(n):
    print("*")
    for i in range(1, n - 1):
        print("*" + " " * (i - 1) + "*")
    print("*" * n)
hollow_right_triangle_pattern(5)

*
**
* *
*  *
*****

##### **8) Number Pyramid Pattern**

In [ ]:
n = int(input("enter no. of rows "))
for i in range(n):
  for j in range(1 , i+2):
    print(j,end = " ")
  print("\n")

enter no. of rows 4
1

1 2

1 2 3

1 2 3 4

In [ ]:
n = int(input("enter no. of rows "))
for i in range(1,n+1):
  for j in range(0 , i):
    print(i,end = " ")
  print("\n")

enter no. of rows 4
1

2 2

3 3 3

4 4 4 4

##### **9) Inverted Number Pyramid Pattern**

In [ ]:
n = int(input("enter no. of rows "))
for i in range(n):
  for j in range(1 , n-i+1):
    print(j,end = " ")
  print("\n")

enter no. of rows 4
1 2 3 4

1 2 3

1 2

1

##### **10) Diamond Pattern**

In [9]:
n = int(input("enter no. of rows "))
for i in range(n):
  for j in range(0 , n-i-1):
    print(" ",end = " ")
  for j in range(0,(2*i)+1):
    print("*",end = " ")
  for j in range(0 , n-i-1):
    print(" ",end = " ")
  print("\n")

for i in range(n):
  for j in range(0 , i):
    print(" ",end = " ")
  for j in range(0, (2*n)-(2*i+1)):
    print("*",end = " ")
  for j in range(0 , i):
    print(" ",end = " ")
  print("\n")

enter no. of rows 5
        *

      * * *

    * * * * *

  * * * * * * *

* * * * * * * * *

* * * * * * * * *

  * * * * * * *

    * * * * *

      * * *

        *

In [ ]:
n = int(input("enter no. of rows "))
for i in range(0,2*n):
  stars = i
  if i > n:
    stars = 2*n-i
  for j in range(0, stars):
    print("*",end = " ")
  print("\n")

enter no. of rows 4


*

* *

* * *

* * * *

* * *

* *

*

##### **6) Binary Triangle Pattern**

In [ ]:
n = int(input("enter no. of rows "))
start = 1
for i in range(0,n):
  if i % 2 == 0:
    start = 1
  else:
    start = 0
  for j in range(0,i+1):
    print(start, end =" ")
    start = 1-start
  print("\n")

enter no. of rows 5
1

0 1

1 0 1

0 1 0 1

1 0 1 0 1

In [ ]:
n = int(input("enter no. of rows "))
spaces = 2*(n-1)
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j, end =" ")
  for j in range(1,spaces+1):
    print(" ",end = " ")
  for j in range(i,0,-1):
    print(j, end =" ")
  print('\n')
  spaces = spaces -2

enter no. of rows 3
1         1

1 2     2 1

1 2 3 3 2 1

In [12]:
n = int(input("enter no. of rows "))
num = 1
for i in range(1,n+1):
  for j in range(1,i+1):
    print(num, end = " ")
    num = num + 1
  print("\n")

enter no. of rows 5
1

2 3

4 5 6

7 8 9 10

11 12 13 14 15

In [13]:
n = int(input("enter no. of rows "))
for i in range(n):
  for j in range(i+1):
    x = 0
    for k in range(j):
      x =x + n - k
    if j % 2 == 0:
      print(x+i-j+1, end = " ")
    else:
      print(x+n-i, end = " ")
  print("\n")

enter no. of rows 5
1

2 9

3 8 10

4 7 11 14

5 6 12 13 15

In [ ]:
n = int(input("enter no. of rows "))
for i in range(0,n):
  for ch in range(ord('A'),ord('A')+i+1):
    print(chr(ch), end = " ")
  print("\n")

enter no. of rows 5
A

A B

A B C

A B C D

A B C D E

In [ ]:
n = int(input("enter no. of rows "))
for i in range(0,n):
  for ch in range(ord('A'),ord('A')+(n-i)):
    print(chr(ch), end = " ")
  print("\n")

enter no. of rows 5
A B C D E

A B C D

A B C

A B

A

In [ ]:
n = int(input("enter no. of rows "))
for i in range(0,n):
  for j in range(0,i+1):
    print(chr(ord('A') + i), end = " ")
  print("\n")

enter no. of rows 5
A

B B

C C C

D D D D

E E E E E

In [ ]:
N = int(input("enter no. of rows "))
for i in range(N):
  for j in range(N-i-1):
      print(" ", end="")

  ch = 'A'
  breakpoint = (2*i+1)//2
  for j in range(1, 2*i+2):
      print(ch, end="")
      if j <= breakpoint:
          ch = chr(ord(ch) + 1)
      else:
          ch = chr(ord(ch) - 1)

  for j in range(N-i-1):
      print(" ", end="")

  print("\n")

enter no. of rows 5
    A

   ABA

  ABCBA

 ABCDCBA

ABCDEDCBA

In [ ]:
n = int(input("enter no. of rows "))
for i in range(0,n):
  for ch in range(ord('A')+N-1-i, ord('A')+N):
    ch = chr(ch)
    print(ch, end = " ")
  print("\n")

enter no. of rows 5
E

D E

C D E

B C D E

A B C D E

In [ ]:
rows = 5
i = 0
while i <= rows - 1:
    j = 0
    while j < i:
        # display space
        print('', end=' ')
        j += 1
    k = i
    while k <= rows - 1:
        print('*', end=' ')
        k += 1
    print()
    i += 1

i = rows - 1
while i >= 0:
    j = 0
    while j < i:
        print('', end=' ')
        j += 1
    k = i
    while k <= rows - 1:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
rows = 14
print("*" * rows, end="\n")
i = (rows // 2) - 1
j = 2
while i != 0:
    while j <= (rows - 2):
        print("*" * i, end="")
        print("_" * j, end="")
        print("*" * i, end="\n")
        i = i - 1
        j = j + 2

**************
******__******
*****____*****
****______****
***________***
**__________**
*____________*

In [ ]:
# Java to Python by kalkicode.com
import math
import sys
class Main(object) :
    @staticmethod
    def pattern22( n) :
        i = 0
        while (i < 2 * n - 1) :
            j = 0
            while (j < 2 * n - 1) :
                top = i
                bottom = j
                right = (2 * n - 2) - j
                left = (2 * n - 2) - i
                print(str(n - min(min(top,bottom),min(left,right))) + " ", end ="")
                j += 1
            print()
            i += 1
    @staticmethod
    def main( args) :
        N = 5
        Main.pattern22(N)


if __name__=="__main__":
    Main.main(sys.argv)

5 5 5 5 5 5 5 5 5
5 4 4 4 4 4 4 4 5
5 4 3 3 3 3 3 4 5
5 4 3 2 2 2 3 4 5
5 4 3 2 1 2 3 4 5
5 4 3 2 2 2 3 4 5
5 4 3 3 3 3 3 4 5
5 4 4 4 4 4 4 4 5
5 5 5 5 5 5 5 5 5